@import '../main.scss';

.actual{
    &__box{
        padding: 20px 0px;
    }
    &__list{
        padding: 5px;
        display: flex;
        gap: 20px;
        .item{
            flex-basis: 33.3333%;
            width: 33.3333%;
            &__box{
                display: flex;
                gap: 10px;
            }
            &__img{
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                width: 205px;
                height: 140px;
                overflow: hidden;
                display: flex;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    @include tr(.2s);
                }
                &:hover{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
            &__right{
                padding: 5px 0px;
                *{
                    font-size: 18px;
                    line-height: 120%;
                }
            }
            &__date{
                font-family: 'Object-B';
            }
            &__title{
                @include oh(4);
                @include tr(.2s);
                &:hover{
                    color: $colorOrange;
                }
            }
            &__arrow{
                margin-top: auto;
                margin-bottom: auto;
                display: none;
            }
        }
    }

    @media (max-width: 1024px) {
        &__list{
            .item{
                &__box{
                    flex-direction: column;
                }
                &__img{
                    width: 100%;
                    height: 150px;
                }
                &__right{
                    padding: 0;
                    *{
                        font-size: 15px;
                        line-height: 120%;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        &__list{
            flex-direction: column;
            padding: 0;
            gap: 10px;
            .item{
                flex-basis: unset;
                width: 100%;
                &__box{
                    flex-direction: row;
                }
                &__left{
                    flex-basis: 40%;
                    width: 40%;
                }
                &__img{
                    height: 100px;
                }
                &__right{
                    flex-basis: 55%;
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    *{
                        font-size: 16px;
                    }
                }
                &__arrow{
                    display: flex;
                    flex-basis: 5%;
                    width: 5%;
                }
            }
        }
    }
}