@import '../main.scss';

.adoptedList{
    &__list{
        display: flex;
        flex-direction: column;
        gap: 45px;
        padding-bottom: 125px;
        .item{
            height: 750px;
        }
    }

    @media (max-width: 600px) {
        &__list{
            padding-bottom: 40px;
            gap: 20px;
            .item{
                height: auto;
            }
        }
    }
}