@import '../main.scss';

.donateInfo{
    &__box{
        display: flex;
        flex-direction: column;
    }
    /* Top Section */
    &__top{
        background-color: $colorOrange;
        padding: 30px 0px;
        @include df-aic-jcc;
        gap: 40px;
        border-radius: 25px;
    }
    &__title{
        color: #FFF;
        font-family: 'Object-M';
        font-size: 24px;
        span{
            text-decoration: underline;
        }
    }
    &__archive{
        text-align: center;
        font-family: 'Object-M';
        font-size: 24px;
        background-color: #fff;
        border-radius: 25px;
        padding: 15px 20px;
        @include tr(.2s);
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
    /* Middle Section */
    &__mid{
        padding: 80px 120px 120px;
        background-color: #fff;
        border-radius: 25px;
        margin: 10px 0px 110px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .item{
            &__title{
                font-family: 'Object-M';
                font-size: 28px;
                line-height: 130%;
                margin-bottom: 10px;
            }
            &__list{
                display: flex;
                flex-wrap: wrap;
                margin: 0px -7.5px;
                .subItem{
                    flex-basis: 100%;
                    width: 100%;
                    position: relative;
                    padding: 0px 7.5px;
                    &__box{
                        width: 100%;
                        height: 100%;
                    }
                    &__back{
                        width: 100%;
                        height: 100%;
                        @include df-aic-jcc;
                        @include tr(.2s);
                        background-color: #F1F1F1;
                        padding: 20px 0px;
                        border-radius: 10px;
                        border: 5px solid #F1F1F1;
                        color: #1E1E1E;
                        font-family: 'Object-M';
                        font-size: 24px;
                        line-height: 130%;
                        text-align: center;
                    }
                    &__label{
                        cursor: pointer;
                        height: 100%;
                        display: block;
                        input{
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            &:checked ~ .subItem__back{
                                border-color: #F37500;
                                background-color: #fff;
                            }
                        }
                    }
                    &.w50{
                        flex-basis: 50%;
                        width: 50%;
                    }
                    &.w33{
                        flex-basis: 33.3333%;
                        width: 33.3333%;
                    }
                    &.w25{
                        flex-basis: 25%;
                        width: 25%;
                    }
                    &.w16{
                        flex-basis: 16.6666%;
                        width: 16.6666%;
                    }
                    &.text{
                        .subItem__box{
                            height: 100%;
                        }
                        .subItem__label{
                            cursor: none;
                            input{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                min-height: 80px;
                                opacity: 1;
                                box-sizing: border-box;
                                border: 5px solid #F1F1F1;
                                border-radius: 10px;
                                font-family: 'Object-M';
                                font-size: 24px;
                                line-height: 130%;
                                padding: 0px 20px;
                                &::placeholder{
                                    color: #C4C4C4;
                                }
                                @include tr(.2s);
                                &:focus{
                                    outline: 0;
                                    border-color: #F37500;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}