@import '../main.scss';

.donateInfo{
    &__box{
        display: flex;
        flex-direction: column;
        padding: 50px 0px 70px;
    }
    /* Top Section */
    &__top{
        background-color: $colorOrange;
        padding: 30px 0px;
        @include df-aic-jcc;
        gap: 40px;
        border-radius: 25px;
    }
    &__title{
        color: #FFF;
        font-family: 'Object-M';
        font-size: 24px;
        span{
            text-decoration: underline;
        }
    }
    &__archive{
        text-align: center;
        font-family: 'Object-M';
        font-size: 24px;
        background-color: #fff;
        border-radius: 25px;
        padding: 15px 20px;
        @include tr(.2s);
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
    /* Middle Section */
    &__mid{
        padding: 80px 120px 120px;
        background-color: #fff;
        border-radius: 25px;
        margin: 10px 0px 110px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .item{
            &__title{
                font-family: 'Object-M';
                font-size: 28px;
                line-height: 130%;
                margin-bottom: 10px;
            }
            &__list{
                display: flex;
                flex-wrap: wrap;
                margin: 0px -7.5px;
                .subItem{
                    flex-basis: 100%;
                    width: 100%;
                    position: relative;
                    padding: 0px 7.5px;
                    &__box{
                        width: 100%;
                        height: 100%;
                    }
                    &__back{
                        width: 100%;
                        height: 100%;
                        @include df-aic-jcc;
                        @include tr(.2s);
                        background-color: #F1F1F1;
                        padding: 20px 0px;
                        border-radius: 10px;
                        border: 5px solid #F1F1F1;
                        color: #1E1E1E;
                        font-family: 'Object-M';
                        font-size: 24px;
                        line-height: 130%;
                        text-align: center;
                    }
                    &__label{
                        cursor: pointer;
                        height: 100%;
                        display: block;
                        input{
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            &:checked ~ .subItem__back{
                                border-color: #F37500;
                                background-color: #fff;
                            }
                        }
                    }
                    &.w50{
                        flex-basis: 50%;
                        width: 50%;
                    }
                    &.w33{
                        flex-basis: 33.3333%;
                        width: 33.3333%;
                    }
                    &.w25{
                        flex-basis: 25%;
                        width: 25%;
                    }
                    &.w16{
                        flex-basis: 16.6666%;
                        width: 16.6666%;
                    }
                    &.text{
                        .subItem__box{
                            height: 100%;
                        }
                        .subItem__label{
                            cursor: none;
                            input{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                min-height: 80px;
                                opacity: 1;
                                box-sizing: border-box;
                                border: 5px solid #F1F1F1;
                                border-radius: 10px;
                                font-family: 'Object-M';
                                font-size: 24px;
                                line-height: 130%;
                                padding: 0px 20px;
                                &::placeholder{
                                    color: #C4C4C4;
                                }
                                @include tr(.2s);
                                &:focus{
                                    outline: 0;
                                    border-color: #F37500;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    &.last{
                        margin-top: 15px;
                    }
                    &.checkbox{
                        position: relative;
                        .subItem__box{
                            padding: 7.5px 0px;
                        }
                        .subItem__label{
                            @include df-aic;
                        }
                        .subItem__check{
                            border: 1px solid #C4C4C4;
                            border-radius: 5px;
                            border-radius: 5px;
                            width: 25px;
                            height: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include tr(.2s);
                            span{
                                display: block;
                                width: 5px;
                                height: 12px;
                                border: solid #000;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                                @include tr(.2s);
                            }
                        }
                        .subItem__title{
                            padding-left: 10px;
                            color: #A5A5A5;
                            font-size: 21px;
                            line-height: 130%;
                            width: fit-content;
                            a{
                                color: #000;
                            }
                        }
                        input{
                            &:checked ~ .subItem__check{
                                background-color: $colorOrange;
                                border-color: $colorOrange;
                                span{
                                    border-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__btn{
        margin-top: 50px;
        @include df-aic-jcc;
        width: 100%;
        button{
            color: #221414;
            text-align: center;
            font-family: 'Object-M';
            font-size: 25px;
            width: 450px;
            height: 80px;
            border-radius: 150px;
            background-color: $colorOrange;
            color: #fff;
        }
    }
    /* Bottom Section */
    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 25px;
        .item{
            *{
                color: #fff;
            }
            &__box{
                background-color: $colorOrange;
                border-radius: 25px;
                padding: 50px 50px;
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            &__img{
                background-color: #fff;
                border-radius: 25px;
                width: 100%;
                height: 300px;
                padding: 20px;
                @include df-aic-jcc;
                img{
                    width: 100%;
                }
            }
            &__title{
                font-size: 26px;
                line-height: 120%;
                margin: 50px 0px 30px;
            }
            &__info{
                margin-top: auto;
            }
            &.uzum{
                .item__box{
                    background-color: #7000ff;
                }
            }
            &.click{
                .item__box{
                    background-color: #53b7d1;
                }
            }
            &.payme{
                .item__box{
                    background-color: #33cbcb;
                }
            }
            &.paysend{
                .item__box{
                    background-color: #7633ff;
                }
            }
            &.paynet{
                .item__box{
                    background-color: #20cc6d;
                }
            }
            &.kapital{
                .item__box{
                    background-color: #fbc200;
                }
            }
        }
    }

    @media (max-width: 600px) {
        &__box{
            padding: 40px 0px;
        }
        /* ================================================================== */
        /* Top */
        /* ================================================================== */
        &__top{
            padding: 20px;
        }
        &__title{
            font-size: 16px;
            font-family: 'Object-R';
        }
        &__archive{
            font-size: 18px;
        }
        /* ================================================================== */
        /* Middle */
        /* ================================================================== */
        &__mid{
            padding: 20px;
            margin: 10px 0px 30px;
        }
        /* ================================================================== */
        /* List */
        &__list{
            gap: 20px;
            .item{
                &__list{
                    .subItem{
                        padding: 5px;
                        &__back{
                            padding: 15px 0px;
                            font-size: 18px;
                        }
                        &.w50{
                            width: 100%;
                            flex-basis: 100%;
                        }
                        &.w25{
                            width: 50%;
                            flex-basis: 50%;
                        }
                        &.w16{
                            width: 25%;
                            flex-basis: 25%;
                        }
                        &.w33{
                            width: 100%;
                            flex-basis: 100%;
                        }
                        &.text{
                            .subItem__label{
                                input{
                                    font-size: 18px;
                                    min-height: 65px;
                                }
                            }
                        }
                        &.last{
                            margin-top: 0;
                        }
                        &.checkbox{
                            .subItem__box{
                                padding: 5px 0px;
                            }
                            .subItem__title{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        &__btn{
            margin-top: 30px;
            button{
                height: 60px;
                font-size: 18px;
            }
        }
        /* ================================================================== */
        /* ================================================================== */
        /* Cards */
        /* ================================================================== */
        &__cards{
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            .item{
                &__box{
                    padding: 15px;
                }
                &__img{
                    height: 150px;
                }
                &__title{
                    font-size: 15px;
                    margin: 10px 0px 15px;
                }
                &__info{
                    font-size: 14px;
                }
            }
        }
    }
}