@import '../main.scss';

.filter{
    &__box{
        padding: 30px 0px;
        @include df-aic-jcsb;
    }
    &__list{
        @include df-aic;
        gap: 20px;
    }
    &__btns{
        @include df-aic;
        gap: 20px;
        .item{
            &__img{
                img{
                    width: 30px;
                }
            }
        }
    }

    @media (max-width: 600px) {
        &__box{
            padding: 10px 0px;
            flex-direction: column;
            gap: 15px;
        }
        &__left{
            width: 100%;
        }
        &__list{
            overflow-x: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .item{
                &__title{
                    font-size: 20px;
                }
            }
        }
        &__btns{
            .item{
                &__img{
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}