@import '../main.scss';

.footer{
    background-color: #000;
    /* Top Section */
    &__top{
        display: flex;
        gap: 100px;
        padding: 50px 0px 40px;
        *{
            a{
                font-size: 18px;
            }
            color: #fff;
            line-height: 140%;
        }
        &__left{
            flex-basis: 35%;
            width: 35%;
            height: 120px;
            color: #fff;
        }
        &__mid{
            flex-basis: 50%;
            width: 50%;
            display: flex;
            gap: 20px;
        }
        &__map{
            border-radius: 15px;
            height: fit-content;
            display: flex;
            img{
                border-radius: 15px;
                width: 215px;
                height: 170px;
            }
        }
        &__geo{
            width: fit-content;
            display: flex;
            flex-direction: column;
        }
        &__address{
            color: #fff;
        }
        &__location{
            margin-top: 20px;
            a{
                color: $colorOrange;
            }
        }
        &__right{
            flex-basis: 15%;
            width: 15%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &__contacts{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .item{
                a{
                    line-height: 140%;
                }
                &.alt{
                    a{
                        color: $colorOrange;
                    }
                }
            }
        }
        &__review{
            a{
                width: 182px;
                height: 46px;
                flex-shrink: 0;
                border-radius: 23.093px;
                border: 2px solid #fff;
                @include df-aic-jcc;
                @include tr(.2s);
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        &__socials{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            width: fit-content;
            .item{
                &__img{
                    @include df-aic-jcc;
                    @include tr(.2s);
                    svg{
                        width: 28px;
                        height: 28px;
                        path{
                            @include tr(.2s);
                            fill: #808080;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                fill: $colorOrange;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Middle Section */
    &__mid{
        padding: 40px 0px 10px;
        display: flex;
        gap: 80px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        &__list{
            &.hor{
                display: flex;
                justify-content: space-between;
                flex-basis: 80%;
                width: 80%;
                .item{
                    max-width: 270px;
                }
            }
            &.vert{
                display: flex;
                flex-direction: column;
                gap: 40px;
                flex-basis: 20%;
                width: 20%;
            }
            .item{
                &__head{
                    @include df-aic-jcsb;
                }
                &__btn{
                    display: none;
                }
                &__title{
                    color: #fff;
                    font-size: 18px;
                }
                &__list{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                }
                &__subItem{
                    a{
                        width: fit-content;
                        color: #B3B3B0;
                        display: block;
                        padding: 4px 0px;
                        @include tr(.2s);
                        &:hover{
                            color: $colorOrange;
                        }
                    }
                }
            }
        }
    }
    /* Bottom Section */
    &__bot{
        padding: 30px 0px 40px;
        *{
            color: #91918C;
        }
        &__info{
            color: #91918C;
            line-height: 140%;
            a{
                color: $colorOrange;
            }
        }
        &__final{
            @include df-aic-jcsb;
            margin-top: 25px;
        }
        &__policy{
            @include df-aic;
            gap: 30px;
            .item{
                position: relative;
                a{
                    @include tr(.2s);
                    &:hover{
                        color: #fff;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -15px;
                    height: 15px;
                    margin: auto;
                    width: 1px;
                    background-color: #91918C;
                }
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
        &__admin{
            a{
                @include df-aic;
                gap: 15px;
                span, img{
                    @include tr(.2s);
                }
                &:hover{
                    img{
                        transform: translateY(-3px);
                    }
                    span{
                        color: #fff;
                    }
                }
            }
        }
    }
    &__mobsocs{
        display: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0px -10px;
        padding: 20px 10px;
        &__title{
            color: #fff;
        }
        &__list{
            margin-top: 15px;
            @include df-aic-jcsb;
            .item{
                &__img{
                    @include df-aic-jcc;
                    @include tr(.2s);
                    svg{
                        width: 28px;
                        height: 28px;
                        path{
                            @include tr(.2s);
                            fill: #808080;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                fill: $colorOrange;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        &__top{
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
            &__left{
                flex-basis: 100%;
            }
            &__info{
                max-width: 500px;
            }
            &__right{
                width: unset;
            }
            &__socials{
                flex-basis: 100%;
            }
        }
        &__mid{
            &__list{
                &.hor{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px 50px;
                    .item{
                        max-width: unset;
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        &__top{
            padding: 20px 0px;
            flex-direction: column;
            gap: 20px;
            &__left{
                display: none;
            }
            &__mid{
                width: 100%;
                flex-basis: unset;
            }
            &__geo{
                *{
                    font-size: 14px;
                    a{
                        font-size: 14px;
                    }
                }
            }
            &__location, &__socials{
                display: none;
            }
            &__right{
                flex-direction: row-reverse;
                align-items: center;
                *{
                    font-size: 15px;
                    a{
                        font-size: 15px;
                    }
                }
            }
            &__review{
                flex-basis: 50%;
                width: 50%;
                a{
                    width: 170px;
                    height: 40px;
                }
            }
            &__contacts{
                flex-basis: 50%;
                width: 50%;
            }
        }
        &__mid{
            flex-direction: column;
            gap: 0px;
            padding: 0;
            margin: 20px 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            margin: 0px -10px;
            &__list{
                padding: 0px 10px;
                .item{
                    width: 100%;
                    @include tr(.2s);
                    &__head{
                        @include df-aic-jcsb;
                        border-bottom: 1px solid #2D2D28;
                    }
                    
                    &__title{
                        font-size: 16px;
                        font-family: 'Object-M';
                        padding: 10px 0px;
                    }
                    &__btn{
                        display: flex;
                        padding: 5px;
                        margin: -5px;
                        img{
                            width: 10px;
                            filter: invert(1);
                            transform: rotate(45deg);
                            @include tr(.2s);
                        }
                        &.active{
                            img{
                                transform: rotate(0deg);
                            }
                        }
                    }
                    &__list{
                        margin: 0;
                        max-height: 0em;
                        overflow-y: hidden;
                        transition: 0.3s ease;
                        gap: 10px;
                        padding: 0px 5px;
                        &.active{
                            max-height: 100em;
                            transition: 0.3s ease;
                            padding-top: 10px;
                            padding-bottom: 15px;
                        }
                    }
                }
                &.vert{
                    width: 100%;
                    flex-basis: 100%;
                    gap: 00px;
                }
                &.hor{
                    width: 100%;
                    flex-basis: unset;
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    .item{
                        &:last-child{
                            .item__head{
                                border-bottom: unset;
                            }
                        }
                    }
                }
            }
        }
        &__mobsocs{
            display: block;
        }
        &__bot{
            padding: 20px 0px;
            &__policy{
                display: none;
            }
        }
    }
}