@import '../main.scss';

.header{
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(25px);
    @include tr(.3s);
    z-index: 10;
    &__box{
        @include df-aic;
        position: relative;
    }
    /* Left Section */
    &__left{
        padding-left: 30px;
    }
    &__logo{
        position: absolute;
        top: 50%;
        left: 25px;
        @include tr(.3s);
        img{
            width: 120px;
            height: 120px;
            @include tr(.3s);
        }
    }
    /* Middle Section */
    &__mid{
        padding-left: 150px;
    }
    &__nav{
        @include df-aic;
        gap: 30px;
        padding-left: 30px;
        *{
            font-family: 'Object-M';
        }
        .item{
            margin: -5px;
            &__link{
                padding: 5px;
                @include tr(.2s);
                &:hover{
                    color: $colorOrange;
                }
            }
        }
    }
    /* Right Section */
    &__right{
        margin-left: auto;
        overflow: hidden;
        @include df-aic;
    }
    &__search{
        input, button{
            border: none;
            background: none;
            outline: none;
            padding: 0px;
        }
        button{
            cursor: pointer;
        }
        .search-box{
            display: flex;
            background: #fff;
            border-radius: 50px;
            // border: 1px solid #B2B2B2;
            @include tr(.2s);
        }
        .search-box-input{
            width: 0px;
            font-size: 14px;
            color: #000;
            transition: .5s;
        }
        .search-box-btn{
            display: flex;
            // border-radius: 50%;
            width: 50px;
            height: 50px;
            background: white;
            transition: .3s;
        }
        .search-box-icon{
            margin: auto;
            color: black;
            font-weight: bold;
            display: flex;
        }
        .search-box-input::placeholder{
            color: #000;
            opacity: .7;
        }
        .search-box:hover .search-box-input{
            padding-left: 2em;
            padding-right: 1em;
            width: 300px;
        }
        .search-box-btn:active{
            transform: scale(.75);
        }
    }
    &__lang{
        .item{
            font-family: 'Object-M';
            padding: 20px;
        }
    }
    &__donate{
        a{
            padding: 25px;
            background-color: $colorOrange;
            color: #fff;
            font-size: 20px;
            font-family: 'Object-B';
            @include tr(.2s);
            &:hover{
                background-color: darken($colorOrange, 5%);
            }
        }
    }
    /* Alt header on scroll */
    &.alt{
        background: rgba(255, 255, 255, 0.50);
        .header__logo{
            top: 5px;
            left: 50px;
            img{
                width: 60px;
                height: 60px;
            }
        }
        .header__search{
            .search-box{
                display: flex;
                background: 0;
                border-color: #000;
            }
            .search-box-btn{
                background: 0;
            }
        }
        // .header__nav{
        //     .item{
        //         &__link{
        //             &:hover{
        //                 color: #fff;
        //             }
        //         }
        //     }
        // }
    }
}