@import '../main.scss';

.list{
    &__box{
        padding: 55px 0px 150px;
    }
    &__btns{
        @include df-aic;
        gap: 10px;
        .item{
            button{
                width: 145px;
                height: 50px;
                border: 1px solid #000;
                border-radius: 25px;
                @include df-aic-jcc;
                gap: 10px;
                *{
                    @include tr(.2s);
                }
                &:hover{
                    background-color: #000;
                    color: #fff;
                    .item__img{
                        img{
                            filter: invert(1);
                        }
                    }
                }
            }
            &__img{
                display: flex;
                img{
                    @include tr(.2s);
                }
            }
            &__title{
                font-family: 'Object-M';
                font-size: 15px;
            }
        }
    }
    &__masonry{
        margin-top: 15px;
    }
}