@import '../main.scss';

.support{
    height: 100vh;
    .container-m{
        height: 100%;
    }
    &__box{
        height: 100%;
        background-color: $colorOrange;
        border-radius: 25px;
        padding: 100px;
    }
    &__title{
        text-align: center;
        font-family: 'Object-M';
        &.little{
            font-size: 32px;
        }
        &.big{
            color: #fff;
            font-size: 190px;
            margin: 40px 0px;
            line-height: 90%;
        }
    }
    &__info{
        @include df-jcc;
        margin: 50px;
        p{
            color: #fff;
            max-width: 872px;
            font-size: 22px;
            line-height: 130%;
            text-align: center;
        }
    }
    &__btn{
        @include df-jcc;
        a{
            @include df-aic-jcc;
            width: 450px;
            height: 100px;
            background-color: #fff;
            border-radius: 200px;
            font-family: 'Object-M';
            font-size: 30px;
            @include tr(.2s);
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
}