@import '../main.scss';

.useful{
    background-color: #000;
    *{
        color: #fff;
    }
    &__box{
        padding: 15px 0px;
    }
    &__list{
        @include df-jcsb;
        gap: 15px;
        .item{
            height: 250px;
            flex-basis: 20%;
            width: 20%;
            &__link{
                width: 100%;
                height: 100%;
            }
            &__box{
                height: 100%;
                @include df-aic-jcc;
                flex-direction: column;
                @include tr(.3s);
                border-radius: 10px;
                &:hover{
                    background-color: rgb(255, 255, 255, 0.10);
                }
            }
        }
    }
    

    @media (max-width: 600px) {
        .container{
            padding: 0;
        }
        &__box{
            padding: 0px;
        }
        &__list{
            flex-direction: column;
            gap: 0;
            .item{
                flex-basis: unset;
                width: 100%;
                height: unset;
                border-bottom: 1px solid #fff;
                &__box{
                    flex-direction: row;
                    border-radius: 0;
                    padding: 5px 20px;
                    justify-content: flex-start;
                    gap: 10px;
                }
                &__img{
                    img{
                        width: 60px;
                    }
                }
                &:last-child{
                    border-bottom: unset;
                }
            }
        }
    }
}