@import '../main.scss';

.volList{
    &__box{
        padding: 50px 0px;
    }
    &__head{
        display: flex;
        justify-content: center;
    }
    &__info{
        max-width: 830px;
        font-size: 18px;
        line-height: 160%;
        text-align: justify;
    }
    &__list{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
    }
    &__more{
        @include df-aic-jcc;
        margin-top: 30px;
        a{
            background-color: #000;
            color: #fff;
            padding: 25px 30px;
            border-radius: 40px;
            span{
                color: #898989;
                @include tr(.2s);
            }
            @include tr(.2s);
            &:hover{
                background-color: $colorOrange;
                span{
                    color: #000;
                }
            }
        }
    }

    @media (max-width: 1440px) {
        &__list{
            gap: 20px;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (max-width: 1024px) {
        &__list{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 768px) {
        &__list{
            gap: 15px;
        }
    }
    @media (max-width: 600px) {
        &__box{
            padding: 20px 0px;
        }
        &__list{
            grid-template-columns: 1fr 1fr;
        }
    }
}